<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>CLIENT_ID</key>
	<string>718367024307-28h2j22vicbu0iim4kpur10augs361ug.apps.googleusercontent.com</string>
	<key>REVERSED_CLIENT_ID</key>
	<string>com.googleusercontent.apps.718367024307-28h2j22vicbu0iim4kpur10augs361ug</string>
	<key>API_KEY</key>
	<string>AIzaSyAoO5iC5vtLXlUadzhK-mZZ-8NRnsjfvyQ</string>
	<key>GCM_SENDER_ID</key>
	<string>718367024307</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>com.shehan.TwiterClone</string>
	<key>PROJECT_ID</key>
	<string>twiterclone-324a9</string>
	<key>STORAGE_BUCKET</key>
	<string>twiterclone-324a9.appspot.com</string>
	<key>IS_ADS_ENABLED</key>
	<false></false>
	<key>IS_ANALYTICS_ENABLED</key>
	<false></false>
	<key>IS_APPINVITE_ENABLED</key>
	<true></true>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>GOOGLE_APP_ID</key>
	<string>1:718367024307:ios:f0091f77bd4c568b763cc6</string>
</dict>
</plist>